nav ul {
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #39f;
  height: 80px;
}

nav li {
  width: 100px;
  display: flex;
  align-items: center;
}
li a {
  text-decoration: none;
  width: 100px;
  color: #ffffffcc;
  margin: 6px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

li a:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
}

/* Home component */
.searchBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.search-input-container {
  height: 100%;
  width: 260px;
  margin: 6px;
  height: 38px;
  border: 1px solid rgb(121, 117, 117);
  align-content: center;
  display: flex;
  position: relative;
}

.search-input-container input {
  border: none;
  width: calc(100% - 36px);
}

.search-input-container input:focus {
  outline: none;
}

.search-input-container span {
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
}

.homeBody {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 100px 20px 100px;
}

.homeCard {
  flex-direction: column;
}

.homeTable {
  margin-top: 12px;
}

.ant-card-body p {
  width: 202px;
  margin-top: 12px;
  margin-left: 50px;
}
