<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>WeatherMAP</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="input">
    <% for(var i=0; i < message.length; i++) { %>
       <div id=<%= message[i].id %>>
          <p><%= message[i].name %></p>
          <p id="temp"><%= message[i].temp %>°C</p>
       </div>
    <% } %>
 </div>
  <div id="map"></div>
  <script src="/javascripts/map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCIU0rkg6SDCi6_2sFFnGEYc7Lrl-kaic&callback=initMap">
  </script>
</body>

</html>